.formikForm{
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    margin-bottom: 30px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    width: 420px;
}
.errorMessage{
    color: red;
    font-size: 16px;
}
.input{
    width: 400px;
    height: 30px;
}
.button{
    margin-top: 15px;
}
